.body {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 40px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.pos {
    width: 100%;
    margin-left: 40px;
    border: aqua;
    top: -40%;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.image {
    margin-top: 100px;
}

.input:hover {
    color: white;
}
