a{
  text-decoration: none;
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: 25px;
    right: 35px;
    opacity: 0.4;
    font-size: 90px;
}
.content .icon {
    font-size: 100px;
    padding-left: 25px;
}
.content .text2 {
    font-size: 20px;
    font-weight: 500;
}

/* Clock */
.clock button[type="submit"] {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid darkslategray;
    border-radius: 0px;
}
.tools-control,
.tools-control:hover {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

/* Card */
.saldo-control{
    cursor: pointer;
}
.saldo-control:hover{
    transform: scale(1.02);
}

/* image */
.card-body .wrapper {
    position: relative;
    width: 100%;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #c2cdda;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

 .bd-callout {
     padding: 1.25rem;
     margin-top: 1.25rem;
     margin-bottom: 1.25rem;
     border: 1px solid #e9ecef;
     border-left-width: .25rem;
     border-radius: .25rem;
     border-left-color:#dc3545;
 }

 /*Form*/
 .form-control2 {
     display: block;
     width: 100%;
     font-size: 1rem;
     font-weight: 400;
     line-height: 1.5;
     border-color: #557061 !important;
     border-style: solid !important;
     border-width: 0 0 1px 0 !important;
     color: #495957;
     height: auto;
     border-radius: 0;
     background-color: #fff;
     background-clip: padding-box;
 }

 .form-control2:focus {
     color: #495057;
     background-color: #fff;
     border-color: #fff;
     outline: 0;
     box-shadow: none;
 }

 .input-control {
     border: none;
 }

 .label-control:hover {
     font-weight: bold;
 }

 .hover-control{
     color: blanchedalmond;
 }

 .accordion-button:focus{
     box-shadow: none;
 }

 /* image Akun */
 .image_area {
     position: relative;
 }

 .img {
     object-fit: cover;
 }

 .preview {
     overflow: hidden;
     width: 160px;
     height: 160px;
     margin: 10px;
     border: 1px solid red;
 }

 .modal-lg {
     max-width: 1000px !important;
 }

 .overlay {
     position: absolute;
     bottom: 10px;
     left: 0;
     right: 0;
     background-color: rgba(255, 255, 255, 0.5);
     overflow: hidden;
     height: 0;
     transition: .5s ease;
     width: 200px;
 }

 .image_area:hover .overlay {
     height: 50%;
     cursor: pointer;
 }

 .text {
     color: #333;
     font-size: 15px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -65%);
     text-align: center;
 }

 /* Button */
#btn-control{
    color: gray;
}

#btn-control:hover {
     color: #fff;
 }
 
