a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}
a:hover{
    text-decoration: none;
    color: #000000;
}

.card-body-icon {
    background-color: #2D3E50;
    z-index: 0;
    font-size: 20px;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    padding: 0 4px 0 4px;
}
.content .icon {
    font-size: 100px;
    padding-left: 25px;
}
.content .text2 {
    font-size: 20px;
    font-weight: 500;
}

/* Clock */
.clock button[type="submit"] {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid darkslategray;
    border-radius: 0px;
}
.tools-control,
.tools-control:hover {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

/* Card */
.saldo-control{
    cursor: pointer;
}
.saldo-control:hover{
    transform: scale(1.02);
}

/* image */
.card-body .wrapper {
    position: relative;
    width: 100%;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #c2cdda;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

 .bd-callout {
     padding: 1.25rem;
     margin-top: 1.25rem;
     margin-bottom: 1.25rem;
     border: 1px solid #e9ecef;
     border-left-width: .25rem;
     border-radius: .25rem;
     border-left-color:#2D3E50;
 }

 /*Form*/
.form-check-input:focus{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
        0 0 8px rgba(112, 116, 110, 0.6);
    border-color: #2D3E50;
    color: #2D3E50;
}
.form-check-input:checked{
    background-color: #2D3E50;
    border-color: #2D3E50;
}
.page-item.active .page-link {
    background-color: #2D3E50;
    border-color: #2D3E50;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
        0 0 8px rgba(112, 116, 110, 0.6);
}

.page-link,
.page-link:hover,
.page-link:focus {
    color: #2D3E50;
    box-shadow: none;
}

 .form-control2:focus {
     border-color: #0dcaf0 !important;
     transition: ease-in-out,width 1.5s ease-in-out;
 }

 .form-control2 {
     display: block;
     width: 100%;
     font-size: 1rem;
     font-weight: 400;
     line-height: 1.5;
     border-color: #6c757d !important;
     border-style: solid !important;
     border-width: 0 0 1px 0 !important;
     color: #495957;
     height: auto;
     border-radius: 0;
     background-color: #fff;
     background-clip: padding-box;
 }

 .form-control2:focus {
     color: #495057;
     background-color: #fff;
     border-color: #fff;
     outline: 0;
     box-shadow: none;
 }

 .input-control {
     border: none;
 }

 .label-control:hover {
     font-weight: bold;
 }

 .hover-control{
     color: blanchedalmond;
 }

 .modal-header{
     background-image: linear-gradient(to right, #2D3E50, #5f6e7c);
     color: #fff;
 }
 .modal-footer{
     border: none;
 }

.btn-custom{
    background-color: #2D3E50;
    color: #fff;
}

.btn-custom:hover{
    color: #fff;
}
.btn-custom:focus{
    background-color: #364b60;
}

/* btn add */
.button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

.button.btn-add {
    width: 12rem;
    height: auto;
}
.button.btn-add2 {
    width: 15.5rem;
    height: auto;
}
.button.btn-add3 {
    width: 13rem;
    height: auto;
}

.button.btn-add .circle,
.button.btn-add2 .circle,
.button.btn-add3 .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #2D3E50;
    border-radius: 1.625rem;
}

.button.btn-add .circle .fas.fa-plus,
.button.btn-add2 .circle .fas.fa-plus,
.button.btn-add3 .circle .fas.fa-plus {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    text-align: center;
    display: inline-block;
    font-size: 20px;
    color: #fff;
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    line-height: 50px;
    margin-left: 15px;
    
}

.button.btn-add .button-text,
.button.btn-add2 .button-text,
.button.btn-add3 .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #2D3E50;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
}

.button:hover .circle {
    width: 100%;
}

.button:hover .button-text {
    color: #fff;
}
/*  */

.accordion-button:not(.collapsed){
    color: #000000;
    font-weight: bold;
    background-color: #fff;
    box-shadow: none;
}

 .btn-outline-custom2 {
     border-color: #2D3E50;
     border-radius: 20px;
     font-size: 10pt;
 }

 .btn-outline-custom2:focus {
     background-color: #bfc3c7;
     border: none;
 }

 .btn-outline-custom3{
    color: #2D3E50;
 }

 .btn-outline-custom3:hover {
     background-color: #dddedf;
 }

 .btn-outline-custom4 {
     color: #2D3E50;
     border-color: #2D3E50;
 }

 .btn-outline-custom4:hover {
     background-color: #2D3E50;
     color: #fff;
 }

select[name="example_length"]:focus,
input[type="search"]:focus,
button[type="submit"]:focus,
button[type="button"]:focus,
a[type="button"]:focus
{
    border-color: #2D3E50;
    box-shadow: none;
    outline: 0 none;
}

.search-custom{
    border-radius: 20px;
    border-color: #bfc3c7;
}

.btn-search{
   border-radius: 20px;
   background-color: #2D3E50;
   color: #fff;
}

.btn-search:hover{
    color: #fff;
}

.search-custom:focus{
   border-color: #2D3E50;
}

input[type="text"] {
    color: #333;
    width: 100%;
    box-sizing: border-box;
}

.form-control:focus,
.form-control.is-invalid:focus,
.form-select:focus,
.was-validated .form-control:invalid:focus,
.was-validated .form-select:invalid:focus,
.was-validated .form-control:valid:focus,
.was-validated .form-select:valid:focus
{
    box-shadow: none;
}

input[type="text"]:focus{
    outline: 0 none;
}
.effect,
.effect-1{
    border: none;
    border-radius: 0px;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}

.effect:focus {
    border-bottom: 2px solid #2D3E50;
    border-radius: 0px;
}

.effect-1:focus{
    transition: 0.4s;
    border: none;
}

.effect-1~.focus-border,
.effect-1~.focus-border2,
.effect-1~.focus-border3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #2D3E50;
    transition: 0.4s;
    margin-left: 10px;
}

.effect-1:focus~.focus-border {
    width: 93%;
    transition: 0.4s;
}

.effect-1:focus~.focus-border2 {
    width: 87%;
    transition: 0.4s;
}

.effect-1:focus~.focus-border3 {
    width: 90%;
    transition: 0.4s;
}

.cursor{
    cursor: pointer;
}

 /* image Akun */
 .image_area {
     position: relative;
 }

 .img {
     object-fit: cover;
 }

 .preview {
     overflow: hidden;
     width: 160px;
     height: 160px;
     margin: 10px;
     border: 1px solid red;
 }

 .modal-lg {
     max-width: 1000px !important;
 }

 .overlay {
     position: absolute;
     bottom: 10px;
     left: 0;
     right: 0;
     background-color: rgba(255, 255, 255, 0.5);
     overflow: hidden;
     height: 0;
     transition: .5s ease;
     width: 200px;
 }

 .image_area:hover .overlay {
     height: 50%;
     cursor: pointer;
 }

 /* custom text */
 .text {
     color: #333;
     font-size: 15px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -65%);
     text-align: center;
 }

 /* footer */
 .site-footer {
     color: #a09e9e;
     text-align: center;
     font-style: italic;
     margin-top: 3rem;
 }
 
 /* alert */
 .alert-danger{
     background-color: #FC413F;
     color: #fff;
 }

 .alert-success{
     background-color: #1DAB47;
     color: #fff;
 }

 /* sidebar */
 .header-navigation {
     position: fixed;
     top: 0;
     width: 100%;
     height: 60px;
     line-height: 60px;
     background-color: #fff;
     text-align: center;
     z-index: 1030;
 }

 /* Slide transitions */

 .slideUp {
     -webkit-transform: translateY(-100px);
     transform: translateY(-100px);
     transition: transform .5s ease-out;
     z-index: 1030;
 }

 .slideDown {
     -webkit-transform: translateY(0);
     transform: translateY(0);
     transition: transform .5s ease-out;
     z-index: 1030;
 }

 .description {
     overflow-wrap: break-word;
 }